<h1>Categories</h1>

<% if @categories.any? %>

<h2>Your categories:</h2>

<ul>
  <% @categories.each do |category| %>
    <li><a href = "/category/<%= category.id %>"><%= category.title %></a></li>
  <% end %>
</ul>
<h4>Click a category to edit or see associated recipes</h4>
<%else %>

<p> You don't have any categories!! </p>
<% end %>

<form action="/categories" method="post">
  <label for="name">Enter category title Here:</label>
  <input type="text" name="title">

  <button type="submit">Add Category</button>
</form>
