<% if @category.recipes.any? %>
<h2>Recipes for this category:</h2>

<ul>
  <% @category.recipes.each do |recipe| %>
  <li> <a href="/recipes/<%= recipe.id%>/edit"><%= recipe.recipes %></a></li>
  <% end %>
</ul>
<% else %>
<p> There are no recipes yet! </p>
<% end %>

<form action="/recipes" method="post">
  <input type="hidden" name="category_id" value="<%= @category.id %>">
  <label for="recipe">Enter Recipe:</label>
  <input type="text" name="recipe">

  <button type="submit">Add Recipe</button>
</form>
